<!DOCTYPE html>
<html>
<head>
    <title>Atribuir Pontuação</title>
</head>
<body>
    <h1>Atribuir Pontuação</h1>
    <form action="/recomendacao" method="post">
        <label for="genero">Gênero:</label>
        <select id="genero" name="genres">
            {% for genre in genres %}
            <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="pontuacao">Pontuação:</label>
        <input type="number" id="pontuacao" name="value" min="1" max="5" required>
        <br><br>
        <label for="filme">Filme:</label>
        <select id="filme" name="item">
            {% for item in items %}
            <option value="{{ item.id }}">{{ item.title }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
